@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&family=Play:wght@400;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  font-weight: 500;
  line-height: 1.6;
  font-size: 1.6rem;
}
.container {
  padding: 2rem 4rem;
}
